@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,400;1,500&family=Playfair+Display:wght@500;600&family=Poppins:ital,wght@0,300;0,400;0,500;1,300&family=Titillium+Web:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap");

body {
	margin: 0;
	font-family: "Ubuntu", "Poppins", "Playfair Display";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	background-image: linear-gradient(to bottom right, #fa7e61 30%, #f85d3a);
	overflow: scroll;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.button {
	color: #fedfd8;
	text-decoration: none;
	padding: 16px 24px;
	font-size: 24px;
	border-radius: 8px;
	background-image: linear-gradient(to top, #262121 40%, black 100%);
	transition: all 0.4s ease-in-out;
}

.icon {
	margin-right: 8px;
	color: #ffffff;
}
.button:hover {
	color: #ffffff;
	transform: scale(0.95);
}

.albums {
	overflow-y: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

@media only screen and (max-width: 768px) {
	.albums {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 591px) {
	.albums {
		grid-template-columns: repeat(1, 1fr);
	}
}
